<!DOCTYPE html>
<html>
  <head>
    <title>debug</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <form action="/debug/create_player_done" method="POST">
        <p>ID:<input type="text" name="id"></p>
        <p>group:<input type="text" name="group"></p>
        <p>Name:<input type="text" name="name"></p>
        <p>ImagePath:<input type="text" name="imagePath"></p>
        <input type="submit" value="送信">
      </form>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
