<!DOCTYPE html>
<html>
  <head>
    <title>debug</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header-debug">
      <% include header %>
    </div>
    <div class="container">
      <form action="/skdebug/redis_get" method="POST">
        key: <input type="text" name="key">
        <input type="submit" value="検索">
      </form>
      <form action="/skdebug/redis_delete" method="POST">
        key: <input type="text" name="key">
        <input type="submit" value="削除">
      </form>
      <form action="/skdebug/redis_list_get" method="POST">
        key: <input type="text" name="key">
        <input type="submit" value="リスト検索">
      </form>
      <form action="/skdebug/redis_list_length" method="POST">
        key: <input type="text" name="key">
        <input type="submit" value="リストサイズ">
      </form>
      <form action="/skdebug/redis_list_delete" method="POST">
        key: <input type="text" name="key">
        <input type="submit" value="リスト削除">
      </form>
      <ul>
        <% for (var i=0; i < keys.length; i++) { %>
          <li><%= keys[i] %></li>
        <% } %>
      </ul>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
