<h3>ウイニングイレブンCMを採点しよう</h3>
<p class="text text-center">CMの採点をして、ウイイレ最新作を当てよう!</p>
<div class="text-center">
  <input id="event-comment" type="text" size="23" placeholder="評価コメントを入力">
  <select id="event-rating">
    <option value="10">10</option>
    <option value="9">9</option>
    <option value="8">8</option>
    <option value="7">7</option>
    <option value="6">6</option>
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select>
  <button type="button" class="btn btn-sm">確定</button>
</div>
<p class="text caution text-center">* 採点をしない場合はプレゼントの応募権利はありません。</p>
<p class="text caution text-center">* プレゼントの応募にはTwitterでサッカーキング(<a href="https://twitter.com/SoccerKingJP" class="ui-link">@SoccerKingJP</a>)の公式アカウントのフォローが必要となります。</p>
