<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="shortcut icon" href="http://www.soccer-king.jp/favicon.ico">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css?v=7' />
  </head>
  <body>
    <div class="container">
      <div class="sk-title"><a href="http://www.soccer-king.jp/"><img height="44" src="/images/logo.png" alt="サッカーキング - 世界のサッカー情報サイト"></a></div>
      <div class="my-jumbotron">
        <h2><%= title %></h2>
        <p>ウルグアイ戦を1点〜10点で採点しよう!</p>
      </div>
      <ul id="player-list"></ul>

      <div id="mom">
        <p>Man of the Match(上位5名)</p>
        <select id="mom-select"><option value="0" selected>該当者なし</option></select>
        <button type="button" id="mom-btn" class="btn btn-sm">確定</button>
      </div>
      <div id="summary">
        <p>総評</p>
        <textarea id="summary-comment" placeholder="総評を入力してください" /></textarea>
        <button type="button" id="summary-btn" class="btn btn-sm">確定</button>
      </div>
      <div id="rating-title"><h3>採点ランキング</h3></div>
      <table id="user-rating" class="table table-striped"></table>
      <table id="user-mom" class="table table-striped"></table>
      <div id="mom-title"><h3>Man of the Match</h3></div>
      <center><canvas id="mom-chart" width="150" height="150"></canvas></center>
      <div id="mom-legend"></div>
      <div id="player-opinion">
      </div>
      <% if (0) { %>
        <div><a href="/skdebug">debug</a></div>
      <% } %>
    </div>
    <footer>Copyright 2010-2014 FromOne co.,Ltd All Rights Reserved.</footer>
    <div id='uri' data-uri="<%= uri %>"></div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/Chart.js"></script>
    <script src="/javascripts/main.js?v=7"></script>
  </body>
</html>
