<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <% include ../shared/css_style %>
    <% include ../shared/ga %>
  </head>
  <body>
    <div class="container">
      <div class="sk-title"><a href="http://www.soccer-king.jp/"><img height="44" src="/images/logo.png" alt="サッカーキング - 世界のサッカー情報サイト"></a></div>
      <div class="my-jumbotron">
        <h2><%= title %></h2>
        <p></p>
      </div>
      <div id="player-opinion">
        <h3><%= player['fullName'] %>(最新コメント100件)</h3>
        <% if (comments && (comments.length > 0) ) { %>
          <ul>
            <% for (var i = 0; i < comments.length; i++) { %>
              <li><div class="bs-callout bs-callout-info"><%= comments[i] %></div></li>
            <% } %>
          </ul>
        <% } else { %>
          <center>まだコメントはありません。</center>
        <% } %>
      </div>
      <center><button type="button" id="back-btn" class="btn" onclick="location.href='/'">トップに戻る</button></center>
    </div>
    <% include ../shared/footer %>
  </body>
</html>
