body {
  padding: 0px;
  background-color: #eee;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.table {
  margin-bottom: 3px;
}

.sk-title {
  height: 50px;
  background-color: #ffee00;
  text-align: center;
}

.my-jumbotron {
  background-color: #00002b;
  color: #fff;
  border-top: 4px solid #ff3333;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
.my-jumbotron > h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
.my-jumbotron > p {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0px;
}

ul#player-list {
  list-style: none;
  padding: 0px;
}

.row {
  margin: 4px;
  background-color: #333;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
}

.player-name {
  color: #fff;
  font-size: 10px;
}

.player-img-detail {
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.player-input {
  padding-top: 5px;
  padding-bottom: 5px;
}

.player-btn {
  margin-left: 10px;
  margin-top: 5px;
  background-color: #ffee00;
  border-color: #ffea00;
  color: #000;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

#summary {
  text-align: center;
  display: none;
}

#summary > p {
  background-color: #ffee00;
  color: #000;
  font-weight: bold;
  padding: 4px;
  margin-bottom: 0px;
}

#summary > textarea {
  width: 100%;
  resize: none;
  border-left: 5px solid #ffee00;
  border-right: 5px solid #ffee00;
  border-bottom: 5px solid #ffee00;
  border-top: none;
}

#summary > button {
  background-color: #ffee00;
  border: 2px solid #333;
  color: #000;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

#mom {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-left: 5px solid #ffee00;
  border-right: 5px solid #ffee00;
  border-bottom: 5px solid #ffee00;
  border-top: none;
  display: none;
}

#mom-select {
  margin-top: 5px;
}

#mom > p {
  background-color: #ffee00;
  color: #000;
  font-weight: bold;
  padding: 4px;
  margin-bottom: 0px;
}

#mom-btn, #back-btn {
  margin-left: 10px;
  margin-top: 5px;
  background-color: #ffee00;
  border: 2px solid #333;
  color: #000;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

#player-opinion > h3 {
  font-size: 18px;
  border-bottom: solid 2px #000;
  padding-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

#player-opinion > h2 {
  font-size: 16px;
  margin-left: 12px;
  margin-right: 5px;
}

#player-opinion > ul {
  list-style: none;
  padding-left: 10px;
}

#game-opinion > h3 {
  font-size: 18px;
  border-bottom: solid 2px #000;
  padding-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

#game-opinion > ul {
  list-style: none;
  padding-left: 10px;
}

span.plus {
  color: #DC143C;
}

span.minus {
  color: #0000CD;
}

span.zero {
  color: #ffee00;
}

.bs-callout {
  padding: 10px;
  margin: 10px 10px 10px 0px;
  border: 1px solid #333;
  border-left-width: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

.bs-callout-info {
  border-left-color: #ffee00;
}

#mom-legend {
  padding: 10px;
  overflow: hidden;
  position: relative;
}

ul.doughnut-legend {
  list-style: none outside none;
  float: left;
  margin: 0 0 0 0;
  padding: 0;
  position: relative;
  left: 50%;
}

ul.doughnut-legend > li {
  float: left;
  margin-right: 5px;
  padding: 5px;
  position: relative;
  left: -50%;
}

#rating-title > h3 {
  font-size: 18px;
  border-bottom: solid 2px #000;
  padding-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

#mom-title > h3 {
  font-size: 18px;
  border-bottom: solid 2px #000;
  padding-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

#summary-more {
  text-align: center;
}

.more-btn {
  font-size: 10px;
  background-color: #ffee00;
  border: 2px solid #333;
  color: #000;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

footer {
  background-color: #ffee00;
  text-align: center;
  font-size: 11px;
  margin-top: 5px;
}

#twitter-tweet-btn {
  display: none;
  margin-top: 10px;
  background-color: #00aced;
  border: 1px solid #0090c4;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

#event-main {
  display: none;
}

#event-main > h3 {
  font-size: 18px;
  border-bottom: solid 2px #000;
  padding-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

#event-main button {
  background-color: #ffee00;
  border: 2px solid #333;
  color: #000;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}
#event-main p {
  margin: 5px 0 5px;
}

#event-main p.text {
  font-size: 13px;
}

#event-main p.caution {
  font-size: 10px;
  color: red;
}

#service-open {
  display: none;
}

#service-maintenance {
  display: none;
}

#service-maintenance p {
  margin: 5px 0px 5px;;
  text-align: center;
}

#service-maintenance button {
  background-color: #ffee00;
  border: 2px solid #333;
  color: #000;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

.tips {
  color: #ff69b4;
}

.record-btn {
  background-color: #00002b;
  border: 2px solid #333;
  color: #fff;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
  margin-top: 10px;
  width: 98%;
  opacity: 0.8;
}
.record-btn:hover {
  color: #fff;
}
.record-table > tbody {
  font-size: 12px;
}
