<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <% include ../../shared/css_style %>
    <% include ../../shared/ga %>
  </head>
  <body>
    <div class="container">
      <div class="sk-title"><a href="http://www.soccer-king.jp/"><img height="44" src="/images/logo.png" alt="サッカーキング - 世界のサッカー情報サイト"></a></div>
      <div class="my-jumbotron">
        <h2><%= title %></h2>
      </div>
      <div id="player-opinion">
        <h3>採点ランキング(シンガポール戦)</h3>
        <table id="user-rating" class="table table-striped">
          <thead><tr><th>順位</th><th>選手</th><th>平均</th><th>投票数</th></tr></thead>
          <tbody>
            <tr><td>1</td><td>金崎夢生</td><td>7.04</td><td>2880</td></tr>
            <tr><td>2</td><td>柏木陽介</td><td>6.82</td><td>2803</td></tr>
            <tr><td>3</td><td>長谷部誠</td><td>6.30</td><td>2630</td></tr>
            <tr><td>4</td><td>清武弘嗣</td><td>6.28</td><td>2616</td></tr>
            <tr><td>5</td><td>武藤嘉紀</td><td>6.09</td><td>2834</td></tr>
            <tr><td>6</td><td>香川真司</td><td>6.01</td><td>2513</td></tr>
            <tr><td>7</td><td>西川周作</td><td>5.94</td><td>2364</td></tr>
            <tr><td>8</td><td>吉田麻也</td><td>5.92</td><td>2534</td></tr>
            <tr><td>9</td><td>森重真人</td><td>5.91</td><td>2430</td></tr>
            <tr><td>10</td><td>ハリルホジッチ</td><td>5.86</td><td>2469</td></tr>
            <tr><td>11</td><td>長友佑都</td><td>5.80</td><td>2467</td></tr>
            <tr><td>12</td><td>宇佐美貴史</td><td>5.78</td><td>2415</td></tr>
            <tr><td>13</td><td>原口元気</td><td>5.73</td><td>2122</td></tr>
            <tr><td>14</td><td>酒井宏樹</td><td>5.28</td><td>2731</td></tr>
            <tr><td>15</td><td>本田圭佑</td><td>5.17</td><td>3154</td></tr>
          </tbody>
        </table>
      </div>
      <center><button type="button" id="back-btn" class="btn" onclick="location.href='/'">トップに戻る</button></center>
    </div>
    <% include ../../shared/footer %>
  </body>
</html>
