<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css?v=20' />
  </head>
  <body>
    <div class="container">
      <div class="sk-title"><a href="http://www.soccer-king.jp/"><img height="44" src="/images/logo.png" alt="サッカーキング - 世界のサッカー情報サイト"></a></div>
      <div class="my-jumbotron">
        <h2><%= title %></h2>
      </div>
      <div id="player-opinion">
        <h3>採点ランキング(ジャマイカ戦)</h3>
        <table id="user-rating" class="table table-striped">
          <thead><tr><th>順位</th><th>選手</th><th>平均</th><th>投票数</th></tr></thead>
          <tbody>
            <tr><td>1</td><td>細貝萌</td><td>6.66</td><td>1090</td></tr>
            <tr><td>2</td><td>柴崎岳</td><td>6.65</td><td>1144</td></tr>
            <tr><td>3</td><td>塩谷司</td><td>6.49</td><td>1039</td></tr>
            <tr><td>4</td><td>岡崎慎司</td><td>6.45</td><td>1111</td></tr>
            <tr><td>5</td><td>森重真人</td><td>6.24</td><td>1043</td></tr>
            <tr><td>6</td><td>西川周作</td><td>6.19</td><td>1008</td></tr>
            <tr><td>7</td><td>本田圭佑</td><td>6.07</td><td>1218</td></tr>
            <tr><td>8</td><td>酒井高徳</td><td>5.95</td><td>1031</td></tr>
            <tr><td>9</td><td>武藤嘉紀</td><td>5.79</td><td>1222</td></tr>
            <tr><td>10</td><td>太田宏介</td><td>5.77</td><td>663</td></tr>
            <tr><td>11</td><td>アギーレ</td><td>5.76</td><td>1021</td></tr>
            <tr><td>12</td><td>小林悠</td><td>5.73</td><td>1057</td></tr>
            <tr><td>13</td><td>長友佑都</td><td>5.59</td><td>1079</td></tr>
            <tr><td>14</td><td>香川真司</td><td>5.52</td><td>1234</td></tr>
            <tr><td>15</td><td>田口泰士</td><td>5.52</td><td>583</td></tr>
            <tr><td>16</td><td>柿谷曜一朗</td><td>5.20</td><td>1046</td></tr>
          </tbody>
        </table>
      </div>
      <center><button type="button" id="back-btn" class="btn" onclick="location.href='/'">トップに戻る</button></center>
    </div>
    <% include ../../shared/footer %>
  </body>
</html>
