<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css?v=22' />
    <% include ../../shared/ga %>
  </head>
  <body>
    <div class="container">
      <div class="sk-title"><a href="http://www.soccer-king.jp/"><img height="44" src="/images/logo.png" alt="サッカーキング - 世界のサッカー情報サイト"></a></div>
      <div class="my-jumbotron">
        <h2><%= title %></h2>
      </div>
      <div id="player-opinion">
        <h3>採点ランキング(ホンジュラス戦)</h3>
        <table id="user-rating" class="table table-striped">
          <thead><tr><th>順位</th><th>選手</th><th>平均</th><th>投票数</th></tr></thead>
          <tbody>
            <tr><td>1</td><td>遠藤保仁</td><td>7.26</td><td>3109</td></tr>
            <tr><td>2</td><td>本田圭佑</td><td>7.18</td><td>3230</td></tr>
            <tr><td>3</td><td>内田篤人</td><td>7.11</td><td>3095</td></tr>
            <tr><td>4</td><td>乾貴士</td><td>6.72</td><td>2923</td></tr>
            <tr><td>5</td><td>長谷部誠</td><td>6.71</td><td>2873</td></tr>
            <tr><td>6</td><td>吉田麻也</td><td>6.30</td><td>2584</td></tr>
            <tr><td>7</td><td>酒井高徳</td><td>6.22</td><td>2596</td></tr>
            <tr><td>8</td><td>香川真司</td><td>6.19</td><td>2885</td></tr>
            <tr><td>9</td><td>森重真人</td><td>6.11</td><td>2539</td></tr>
            <tr><td>10</td><td>豊田陽平</td><td>6.04</td><td>2765</td></tr>
            <tr><td>11</td><td>岡崎慎司</td><td>6.00</td><td>2730</td></tr>
            <tr><td>12</td><td>アギーレ</td><td>5.93</td><td>2586</td></tr>
            <tr><td>13</td><td>西川周作</td><td>5.85</td><td>2033</td></tr>
            <tr><td>14</td><td>川島永嗣</td><td>5.68</td><td>2530</td></tr>
            <tr><td>15</td><td>田口泰士</td><td>5.65</td><td>2427</td></tr>
            <tr><td>16</td><td>武藤嘉紀</td><td>5.56</td><td>3002</td></tr>
            <tr><td>17</td><td>柴崎岳</td><td>5.17</td><td>2606</td></tr>
          </tbody>
        </table>
      </div>
      <center><button type="button" id="back-btn" class="btn" onclick="location.href='/'">トップに戻る</button></center>
    </div>
    <% include ../../shared/footer %>
  </body>
</html>
