<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css?v=20' />
  </head>
  <body>
    <div class="container">
      <div class="sk-title"><a href="http://www.soccer-king.jp/"><img height="44" src="/images/logo.png" alt="サッカーキング - 世界のサッカー情報サイト"></a></div>
      <div class="my-jumbotron">
        <h2><%= title %></h2>
      </div>
      <div id="player-opinion">
        <h3>採点ランキング(ヨルダン戦)</h3>
        <table id="user-rating" class="table table-striped">
          <thead><tr><th>順位</th><th>選手</th><th>平均</th><th>投票数</th></tr></thead>
          <tbody>
            <tr><td>1</td><td>本田圭佑</td><td>6.72</td><td>2677</td></tr>
            <tr><td>2</td><td>香川真司</td><td>6.63</td><td>2671</td></tr>
            <tr><td>3</td><td>乾貴士</td><td>6.60</td><td>2478</td></tr>
            <tr><td>4</td><td>長谷部誠</td><td>6.57</td><td>2323</td></tr>
            <tr><td>5</td><td>長友佑都</td><td>6.53</td><td>2241</td></tr>
            <tr><td>6</td><td>遠藤保仁</td><td>6.47</td><td>2321</td></tr>
            <tr><td>7</td><td>岡崎慎司</td><td>6.43</td><td>2331</td></tr>
            <tr><td>8</td><td>森重真人</td><td>6.41</td><td>2177</td></tr>
            <tr><td>9</td><td>アギーレ</td><td>6.41</td><td>2223</td></tr>
            <tr><td>10</td><td>武藤嘉紀</td><td>6.24</td><td>2573</td></tr>
            <tr><td>11</td><td>吉田麻也</td><td>6.18</td><td>2156</td></tr>
            <tr><td>12</td><td>川島永嗣</td><td>6.11</td><td>2150</td></tr>
            <tr><td>13</td><td>酒井高徳</td><td>6.06</td><td>2167</td></tr>
            <tr><td>14</td><td>柴崎岳</td><td>5.61</td><td>1723</td></tr>
            <tr><td>15</td><td>清武弘嗣</td><td>5.47</td><td>2263</td></tr>
          </tbody>
        </table>
      </div>
      <center><button type="button" id="back-btn" class="btn" onclick="location.href='/'">トップに戻る</button></center>
    </div>
    <% include ../../shared/footer %>
  </body>
</html>
